#content {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

    header img {
        float: left;
        width: 150px;
        margin-right: 20px;
    }

    header div {
        vertical-align: central;
        height: 110px;
    }


    header h1 {
        font-size: 32pt;
        padding-top: 30px;
        margin-left: 20px;
    }




header, nav, #list, #table, #form, footer {
    background-color: #ccc;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 28pt;
}

    nav a {
        flex 1;
    }

#list {
    margin-top: 20px;
    order: -1;
    font-size: 12pt;
}

#form {
    order: 0;
}

#table {
    order: 1;
}


#list, #table, #form {
    margin-bottom: 20px;
}

table th {
    background-color: #99f;
}

.nch {
    background-color: #999;
}

.ch {
    background-color: #eee;
}

table th, table td {
    font-size: 16pt;
}



@media screen and (min-width: 800px) {
    header div, nav, #content {
        max-width: 960px;
        margin: auto;
    }

    nav {
        flex-direction: row;
    }

        nav a {
            margin: 20px;
        }
}
